.artbowl_logo{
    font-family: 'Lobster', cursive;
}

.artbowl_footer_button{
    font-size: .6rem;
}

.artbowl_footer{
    text-align: center;
    margin-top: 2rem;
}

.artbowl_header{
    text-align: center;
    margin: 2rem 0;
}
